<h1>登录页</h1>
<form method="post" formaction="/Home/Login">
    <input name="username" type="text" value="" />
    <input name="password" type="password" value="" />
    <button>登录</button>
</form>
<a href="/Home/Register">没有账号去注册</a>
