<h1>修改个人信息</h1>
<form formaction="/Home/Update" method="post">
    <input name="username" value="@ViewBag.Curs.UserName" />
    <input name="email" value="@ViewBag.Curs.Email" />
    <button>确认修改</button>
</form>

